#top(style="display: block;")
    .bar(style="width: 0;")
    a.icon-home.image-icon(href="#")
    .icon-play(title="播放/暂停")
    h3.subtitle !{page.title}
    .social
        // <!--<div class="like-icon">-->
        //     <!--<a href="javascript:;" class="likeThis active"><span class="icon-like"></span><span class="count">76</span></a>-->
        // <!--</div>-->
        div
          .share
            a.icon-scan(title="获取二维码" href="#")
            #qr
    .scrollbar