#cookie-banner
  .banner-inner
    p.text 私達は、サイト運営の向上の為、Cookieを利用しています。
      br
      | 引き続き当サイトをお使い続けることをもって、Moikka!のCookie使用に同意いただいたものとします。
      br
      a(href=url_for('/privacy_policy')) 詳しくは、当サイトのプライバシーポリシーをご覧ください。
    #button-agree 分かりました