-
	var menuItems = [
		{
			title: "過去の記事", 
			url: "/posts"
		},
		{
			title: "『Moikka!』に質問", 
			url: "/question"
		},
		{
			title: "『Moikka!』とは？", 
			url: "/about"
		},
		{
			title: "プライバシーポリシー", 
			url: "/privacy_policy"
		},
		{
			title: "免責事項", 
			url: "/disclaimers"
		}
	];

footer#main-footer
	.inner-footer
		.fblock
			// site-map
			h4 sitemap
			ul.footersitemap
				each item in menuItems
					li.nav-list-item
						- var re = /^(http|https):\/\/*/gi;
						- var tar = re.test(item.url) ? "_blank" : "_self"
						- var type = url.indexOf('.html') === -1 ? 'no-barba' : ''
						a.nav-list-link(href=url_for(item.url) target=tar class=type)
							!= item.title
		.fblock
			// tag
			h4 Tag
		.fblock
			h4 Contact
			// contact
			.footercontact
				a.logo.logo-footer.footercontact-logo(href='')
					img(src='img/logo.svg')
				p.footercontact-text 
					| フィンランドに留学生に現地の情報が生で聞ける新感覚メディア、Moikka!
					br
					| 代表取締役○○お問い合わせは#[a(href="", target="_blank") こちら]
				ul.footercontact-social
					li.footercontact-social-item.footercontact-social-item-twitter
						a(href='https://twitter.com/', target='_blank')
							span.fab.fa-twitter
					li.footercontact-social-item.footercontact-social-item-facebook
						a(href='https://www.facebook.com/', target='_blank')
							span.fab.fa-facebook-f
					li.footercontact-social-item.footercontact-social-item-instagram
						a(href='https://instagram.com/', target='_blank')
							span.fab.fa-instagram

	include copyright.pug