footer#main-footer
	.inner-footer
		.fblock
			h4 Tag
			ul.footersitemap
			// tag
		.fblock
			h4 Contact
			.footercontact
				a.logo.logo-footer.footercontact-logo(href="", alt="/")
					include monochrome.svg
				p.footercontact-text 
					| フィンランドに留学生に現地の情報が生で聞ける新感覚メディア、Moikka!
					br
					| 代表取締役○○お問い合わせは#[a(href="", target="_blank") こちら]
				ul.footercontact-social
					li.footercontact-social-item.footercontact-social-item-twitter
						a(href='https://twitter.com/', target='_blank')
							span.fab.fa-twitter
					li.footercontact-social-item.footercontact-social-item-facebook
						a(href='https://www.facebook.com/', target='_blank')
							span.fab.fa-facebook-f
					li.footercontact-social-item.footercontact-social-item-instagram
						a(href='https://instagram.com/', target='_blank')
							span.fab.fa-instagram

	include copyright.pug