- 
    var menuItems = {
        "過去の記事": "/posts",
        "『Moikka!』に質問": "/question",
        "『Moikka!』とは？": "/about"
    }

header
    img#logo(src=url_for('img/logo.png'), alt="Moikka!")

    ul.nav.nav-list


        each url, title in menuItems
            li.nav-list-item
                - var re = /^(http|https):\/\/*/gi;
                - var tar = re.test(url) ? "_blank" : "_self"
                - var type = url.indexOf('.html') === -1 ? 'no-barba' : ''
                a.nav-list-link(href=url_for(url) target=tar class=type)
                    != title
