doctype
html(lang=config.language)
    head
        include head.pug
    body
        include header.pug
        .wrap#barba-wrapper
            .barba-container
                main.container
                    block container
                footer
                    block pagination
                    block copyright
        include scripts.pug
