doctype
html(lang=config.language)
	head
		include head.pug
	body
		#menu
			include menu.pug
		#container
		include header.pug
			.wrap#barba-wrapper
				.barba-container
					main.container#main
						block container
						block pagination
		include footer.pug
		include cookiebanner.pug
		include scripts.pug