@import "../_variables.styl"
@import "../_util.styl"

.post-footer
	background white
	border-radius 10px
	margin 0 5em
	padding 3em
	margin-top 1.5em
@media (max-width: 38em)
	.post-footer
		margin 1em
		padding 1em
.post-writer
	padding 15px 17px 17px
	position relative
	border 3px solid #ddd
	display flex
	align-items center
	background $base
.writer-portfolio
	flex-basis 80px
	width 80px
	min-width 80px
	height 80px
	border-radius 50%
	box-shadow 0px 0px 0px 3px $accent
	transition .5s
	&:hover
		box-shadow 0px 0px 5px 4px $accent
	img
		border-radius 50%
.writer-content
	display block
	margin 0 0 0 22px
	span
		margin 3px 0px 3px 0px
		font-size 11px
		line-height 30px
		letter-spacing .05rem
		height 30px
.writer-name
	display inline-block
	padding 0 0 0 5px
	font-size 18px
	font-weight 700
	line-height 1.5
	letter-spacing .05rem
	color $primary
.writer-description
	margin 0
	font-size 13px
	line-height 1.5
	letter-spacing .05rem
.writer-sns
	display flex
	padding 0
	margin 1em 0 0 0 
	list-style none
	li
		height 35px
		min-width 35px
		text-align center
		padding 0
		margin-right 5px
		a
			font-size 20px
			line-height 35px
			width 100%
			height 100%
			color white
			border-radius 5px
			transition .35s
			&.fa-twitter
				background #00ACED
			&.fa-instagram
				background #d6249f
				background radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%)
			&.fa-facebook-f
				background #4A63A2
			&:hover
				boxshadow()

// pagination用ファイルを作って@importする？
//post-footerとしてまとまっているので現状維持で。
.paginator
	margin 2em 0
	display flex
	justify-content space-around

	.prev,
	.next
		position relative
		display inline-block
		margin 0 .2em
		padding .3em 1.5em
		border-radius 5px
		color white
		background-color #9e1900
		font-weight 600

	.prev:hover,
	.next:hover
		box-shadow 0 .2em #801501
		top .1em

.prev-next-link a
	border-bottom 1px #ddd solid
	display block
	text-decoration none
	padding 14px 40px
	margin 2em 3em
	color #0bd
	&:hover
		background-color #f6f6f6
	&:first-child
		border-top 1px #ddd solid
.prev-next-label
	font-size .825rem
	color #000
	margin-bottom 10px
.prev-link
	background url(http://www.webcreatorbox.com/sample/images/arrow-prev.svg) no-repeat 10px center
.next-link
	background url(http://www.webcreatorbox.com/sample/images/arrow-next.svg) no-repeat right 10px center
.prev-link,
.next-link
	background-size 16px 28px
@media ( min-width 600px)
	.prev-next-link
		display flex
	.prev-next-link a
		flex 1
	.prev-next-link a,
	.prev-next-link a:first-child
		border none
	.next-link
		text-align right