@import "../variables.styl"
.post
  padding-top
    .1em
      .post-block
        .post-title
          margin .65em 0
          font-size 1.5em
.post-block
  .post-info
    color #393e46
    margin 1.2em 0
    span
      margin-left .5rem
    a.post-from
      margin-left .5rem
      padding .2em .3em
      border-radius .3em
      font-size .7em
      color #fff
      background-color #e36b6b

header.post-header
  padding 0
  margin-bottom 1.5em
p.post-info
  margin 0
.post-time
  opacity .7
  font-size .85em
h1.post-title
  font-size 1.5em
  margin .3em 0
.eyecatch
  text-align center
  overflow hidden
  position relative
  border-radius 6px
  img
    border-radius 6px
    margin 0
    height auto