.post-writer
  display flex
  align-items center
  background
  .writer-portfolio
    height 100px;
    width 100px
    border-radius 50%
    border 1px black solid
    &:hover
      // box-shadow
  div
    flex-basis 80%