mixin home()
	- var prev = page.prev ? page.prev.path : false;
	- var next = page.next ? page.next.path : false;
	- var prevTitle = page.prev ? page.prev.title : false;
	- var nextTitle = page.next ? page.next.title : false;
	.prev-next-link
		if prev
			a.prev-link(href=url_for(prev))
				p.prev-next-label 前の記事
				.thumb-wrap
					img(src="img/noimage.jpg", alt="")
					p
						!= prevTitle	
		if next	
			a.next-link(href=url_for(next))
				p.prev-next-label 次の記事
				.thumb-wrap
					img(src="img/noimage.jpg",alt="")
					p
						!= nextTitle
mixin post()
  - var prev = page.prev ? page.prev.path : false;
  - var next = page.next ? page.next.path : false;
  .paginator
    if prev
      a.prev(href=url_for(prev))
        != __('prev_post')
    if next
        a.next(href=url_for(next))
        != __('next_post')