mixin home()
	- var prev = page.prev_link
	- var next = page.next_link
	.paginator
		if page.prev
			a.prev(href=url_for(prev))
				!= __('prev')
		if page.next
			a.next(href=url_for(next))
				!= __('next')

mixin post()
	- var prev = page.prev ? page.prev.path : false;
	- var next = page.next ? page.next.path : false;
	- var prevTitle = page.prev ? page.prev.title : false;
	- var nextTitle = page.next ? page.next.title : false;
	.prev-next-link
		if prev
			a.prev-link(href=url_for(prev))
				p.prev-next-label 前の記事
				p
					!= prevTitle	
		if next	
			a.next-link(href=url_for(next))
				p.prev-next-label 次の記事
				p
					!= nextTitle