mixin postInfo(item)
	span.post-time
		!= full_date(item.date, config.date_format)
		if item.from && (is_home() || is_post())
			a.post-from(href=item.from, target='_blank', title=item.from)
				!= __('translate_original')

mixin postTitle(title)
	if title
		!= title
	else
		!= __('untitled')
		
mixin postWriter(writer)
	case writer
		when 'coreshin'
			include writer/coreshin.pug
		default
			include writer/moikka.pug

//- Index Page
mixin posts()
	.home.post-list
		- page.posts.each(function (item) {
			.post-module
				.thumbnail
					// .date
					// 	.day 27
					// 	.month Mar
					img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/photo-1429043794791-eb8f26f44081.jpeg')
					// post.imageに差し替える
				.card-content
					.category 学校生活
					h1.title
						+postTitle(item.title)
					h2.sub_title
						!= full_date(item.date, config.date_format)
					p.description
						!= item.excerpt
						a.read-more(href=url_for(item.path))
							!= __('read_more')
					.post-meta
						span.writer
							i.fas.fa-pencil-alt
							a(href="#")
								!= item.writer
						span.tags
							i.fas.fa-tags
							a(href='#')
		- })

//- Archive Page
mixin postList()
	.archive
		- var year = 0;
		- var change = false;
		- page.posts.each(function (item) {
			- var itemYear = date(item.date, 'YYYY') - 0;
			- change = year !== itemYear;
			- year = change ? itemYear : year;
			if change
				h2.archive-year
					!= year
			.post-item
				+postInfo(item)
				a.post-title-link(href=url_for(item.path))
					+postTitle(item.title)
		- })

//- Post Page 
mixin post(item)
	article.post-block
		header.post-header
			.post-info
				h1.post-title
					+postTitle(item.title)
				+postInfo(item)
			.eyecatch
				img(src="/img/eyecatch-example.jpg",width="728",height="460",alt="アイキャッチ画像")
				// post.imageに差し替える

		section.post-content
			!= item.content
		section.post-footer
			.post-writer
				+postWriter(item.writer)