partial("_partial/menu", null, `{cache: true}`)
#container

  partial("_partial/screen", null, `{cache: true}`)
  #primary
      partial('_partial/list', {start: 1})

  if (page.total > 1 && page.next_link){
    #pager
    a.more(href=${url_for(page.next_link)})加载更多
  }

#preview
