extends partial/layout.pug

block site_title
  != page.title + ' | ' + config.title

block description
  - var desc = page.desc || page.title + ' - ' + config.author;
  meta(name='description', content=desc)

block container
  .post
    article.post-block
      h1.post-title
        != page.title
      .post-content
        p Here is qeustion form
        != page.content

      #form-main
        #form-div
          form#form1.form
            p.name
              input#name.feedback-input(name='name', type='text', class='validate[required,custom[onlyLetter],length[0,100]]', placeholder='Name')
            p.email
              input#email.feedback-input(name='email', type='text', class='validate[required,custom[email]]', placeholder='Email')
            p.text
              textarea#comment.feedback-input(name='text', class='validate[required,length[6,300]]', placeholder='Comment')
            .submit
              input#button-blue(type='submit', value='SEND')
              .ease

block copyright
  include partial/copyright.pug