extends partial/layout.pug

block site_title
  != page.title + ' | ' + config.title

block description
  - var desc = page.desc || page.title + ' - ' + config.author;
  meta(name='description', content=desc)

block container
  .post
    article.post-block
      h1.post-title
        != page.title
      .post-content
        p Here is qeustion form
        != page.content

        form#form1.form
          p.name
            label(for="name") お名前(匿名可)
            input#name.question-input(name='name', type='text', placeholder='無記入で匿名になります')
          p.text
            label(for="question") 質問
            textarea#comment.question-input(name='question' placeholder='質問内容を入力してください', required)
          .submit
            button(type='submit') 送信

block copyright
  include partial/copyright.pug