footer
  width 100%
  .copyright
    font-size .8em
    margin 4em 4em
    border-top 1px solid #eee
    text-align center
    a
      &:hover
        color #393e46

    p, a
      padding 1em 0
      color #393e46
      font-weight 300
      
.paginator
  margin 2em 0
  display flex
  justify-content space-around

  .prev,
  .next
    position relative
    box-shadow 0 .3em #801501
    display inline-block
    margin 0 .2em
    padding .3em 1.5em
    border-radius 5px
    color #fff
    background-color #9e1900
    font-weight 600

  .prev:hover,
  .next:hover
    box-shadow 0 .2em #801501
    top .1em

.ds-thread,
#disqus_thread
  margin-bottom 2em
  
@media (max-width: 767px)
  .ds-thread,
  #disqus_thread {
    margin: 2em .8em;
  }