@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700)
@import "variables.styl"
// #feedback-page
//     text-align center

// #form-main
//   width 100%
//   float left
//   padding-top 0px

label
  padding-left 4px
  font-size 24px

.question-input
  color $gray
  font-family Helvetica, Arial, sans-serif
  font-weight 500
  font-size 18px
  border-radius 16px
  line-height 22px
  background-color #fbfbfb
  padding 8px
  width 100%
  border 3px solid $gray
  &:focus
    background #fff
    border 3px solid $subBlue
    color $black
    outline none

.focused
  color $gray
  border $subBlue solid 3px

textarea
  width 100%
  height 150px
  line-height 150%
  border 3px solid $gray
  resize vertical

input:hover, textarea:hover,
input:focus, textarea:focus
  background-color white

.submit
  text-align center
  button
    width 40%
    background-color $subGreen
    color white
    font-size 24px
    padding-top 16px
    padding-bottom 16px
    font-weight 700
    border 3px solid $subGreen
    border-radius 16px

    -webkit-transition all 0.3s
    -moz-transition all 0.3s
    transition all 0.3s

    &:hover
      background-color white
      color $subGreen
      border 3px solid $subGreen
      border-radius 16px

@media only screen and (max-width: 580px)
  #form-div
    left 3%
    margin-right 3%
    width 88%
    margin-left 0
    padding-left 3%
    padding-right 3%