@import "_variables.styl"


body
	margin 0
	padding 0
	font-family 'Roboto', sans-serif
	box-sizing content-box
	margin 0
	color $black
	font-size calc(110% + 0.1vw)
	line-height 1.6
	background-color $base
	font-family system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif

#menu
	background $gray
	position fixed
	width 100%
	height 100vh
	z-index 1

#container
	background $base
	z-index 2
	position fixed
	overflow scroll
	overflow-x hidden
	height 100vh
	width 100%
	transition all .8s ease
	&.active
		transform none

.container
	min-height 30vh

h1, h2, h3, h4, h5, h6
	line-height 1.2

ul
	margin 1rem 0

p
	letter-spacing -.01em
	line-height 1.8
	margin 1.2em 0

a,
a:active
	color #5491E8
	text-decoration none

.home
	&.post-list
		margin 2em 0
		list-style none
		.post-list-item
			padding 1em .4em
		.post-content
			& > ul
				list-style initial
		.read-more
			color #9e1900

.home.post-list .post-content h2:before,
.home.post-list .post-content h3:before,
.home.post-list .post-content h4:before,
.home.post-list .post-content h5:before,
.home.post-list .post-content h6:before
	content ""

.archive
	.post-item
		display flex
		flex-wrap wflexrap
		padding-left 1.5rem

	.post-title-link
		color #9e1900
		padding-left 1em
		&:hover
			border-bottom 0
			color #801501

	.post-info
		width 6em
		font-size .9em
		color #393e46

.archive .post-time,
.archive .post-title-link
	font-size 1rem

@media (max-width: 60em)
	#container.active
		transform translateX(-40%)