$base     = #EFF3F6
$subBlue  = #447095
$subGreen = #3E5D59
$accent   = #BF545E
$primary  = #2007FF
$black    = #222831
$gray     = #3e3e3e

flexbox()
    display -webkit-flex
    display -moz-box
    display -webkit-box
    display -ms-flexbox
    display flex

boxShadow()
    box-shadow 0 2px 5px rgba(0,0,0,0.26)