  a.writer-portfolio
    img(height="80px",width="80px",src='https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-1/p160x160/29511212_363564417459594_6739924901521522688_n.jpg?_nc_cat=111&oh=5f9a050714bdf86dccb0872e22b3070f&oe=5C567E7B', alt='coreshin')
  .writer-description
    h2: span.writer-name coreshin
    p.writer-description この国の良いところをゆるーく紹介出来たらなと思います。