a.writer-portfolio
  img(height="80px",width="80px",src='', alt='')
.writer-content
  h2: span.writer-name moikka
  p.writer-description みんなの役に立つフィンランド情報を発信していくぞ！
  ul.writer-sns
    // li: a(src="", target='_blank').fab.fa-twitter
    // li: a(src="", target='_blank').fab.fa-instagram
    // li: a(src="", target='_blank').fab.fa-facebook-f